.efective__conteiner{
    max-width: 900px;
    padding: 20px;
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--second-color-btn);
}
.efective__title{
    text-transform: uppercase;
    opacity: .7;
}
.efective__btn{
    text-transform: uppercase;
    height: 30px;
    background-color: var(--third-color-btn);
    max-width: 180px;
    width: 100%;
    transition: .5s;
}
.efective__btn:hover{
    opacity: .5;
}