:root {
  --text-color: #fff;
  --bacgrount-color: black;
  --first-color-btn: brown;
  --second-color-btn: rgb(119, 124, 124);
  --third-color-btn: rgb(220, 155, 15);
  --fourth-color-btn: rgb(7, 52, 8);
  --fifth-color-btn: rgb(13, 40, 53);
}
